.contenteditor__toolbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.contenteditor__toolbar--side {
	margin-left: -40px;
	margin-top: -45px;
}

.contenteditor__toolbar--centered {
	margin-top: -10px;
}

.contenteditor__toolbar--side[data-flip] {
	margin-top: 26px;
}

.contenteditor__toolbar--centered[data-flip] {
	margin-top: 36px;
}

.contenteditor__toolbar--mobile {
	position: fixed;
	left: 0;
	width: 100%;
	justify-content: center;
}

.contenteditor__toolbar-content {
	display: flex;
	border-radius: 4px;
	height: 40px;
	opacity: 1;
	background: #fff;
	box-shadow: inset 0 0 0 1px #ececec;
	transform: translateY(0);
	transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.contenteditor__toggle-button-holder {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	margin: -4px 0 0 -32px;
}

.contenteditor__toggle-button-holder[data-type="list-item-content"] {
	margin-left: -42px;
}

.contenteditor__toggle-button-holder[data-type="image-caption"] {
	display: none;
}

.contenteditor__toggle-button {
	display: block;
	border: 0;
	padding: 0;
	width: 32px;
	height: 32px;
	cursor: pointer;
	outline: none;
	background-color: transparent;
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14%2018a1%201%200%201%200%202%200%201%201%200%200%200-2%200ZM8%2018a1%201%200%201%200%202%200%201%201%200%200%200-2%200ZM14%2012a1%201%200%201%200%202%200%201%201%200%200%200-2%200ZM8%2012a1%201%200%201%200%202%200%201%201%200%200%200-2%200ZM14%206a1%201%200%201%200%202%200%201%201%200%200%200-2%200ZM8%206a1%201%200%201%200%202%200%201%201%200%200%200-2%200Z%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
	opacity: 1;
	transform: translateY(0);
	transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.contenteditor__toolbar--hidden,
.contenteditor__toggle-button-holder--hidden {
	pointer-events: none;
}

.contenteditor__toolbar--hidden .contenteditor__toolbar-content,
.contenteditor__toggle-button-holder--hidden .contenteditor__toggle-button {
	transform: translateY(-10px);
	opacity: 0;
}

.contenteditor__toggle-button--move {
	cursor: grab;
}

.contenteditor__toolbar-group {
	display: flex;
}

.contenteditor__control {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 0;
	padding: 8px;
	min-width: 40px;
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 40px;
	cursor: pointer;
	outline: none;
	color: #000;
	background: none;
	font: 14px/26px 'PT Sans', sans-serif;
}

.contenteditor__toolbar-group:first-child > .contenteditor__control:first-child {
	border-radius: 4px 0 0 4px;
}

.contenteditor__toolbar-group:last-child > .contenteditor__control:last-child {
	border-radius: 0 4px 4px 0;
}

.contenteditor__control:hover,
.contenteditor__control--selected {
	background: #662fcc;
	color: #fff;
}

.contenteditor__control-input {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 0;
	padding: 8px;
	min-width: 40px;
	height: 40px;
	outline: none;
	font: 16px/26px 'PT Sans', sans-serif;
	background: none;
}

.contenteditor__control-input-file {
	position: absolute;
	opacity: 0;
	left: -999%;
}

.contenteditor__image-placeholder {
	text-align: center;
	font-style: italic;
	color: #ddd;
}

.contenteditor__container-placeholder {
	font-style: italic;
	color: #ddd;
}

.contenteditor__control--dropdown {
	position: relative;
	padding-right: 28px;
	overflow: visible;
}

.contenteditor__dropdown-arrow {
	position: absolute;
	top: 17px;
	right: 8px;
	width: 13px;
	height: 7px;
	pointer-events: none;
	color: #000;
}

.contenteditor__control--openned .contenteditor__dropdown-arrow,
.contenteditor__control--dropdown:hover .contenteditor__dropdown-arrow {
	color: #fff;
}

.contenteditor__dropdown {
	position: absolute;
	margin-top: 5px;
	top: 100%;
	left: 0;
	display: none;
	flex-direction: column;
	background: #fff;
	box-shadow: inset 0 0 0 1px #ececec;
}

.contenteditor__control--openned {
	background: #662fcc;
	color: #fff;
}

.contenteditor__control--openned .contenteditor__dropdown {
	display: flex;
}

.contenteditor__dropdown .contenteditor__control {
	text-align: left;
	display: flex;
	align-items: center;
	padding: 4px 12px 4px 8px;
	height: 30px;
}

.contenteditor__dropdown .contenteditor__control:first-child {
	border-radius: 4px 4px 0 0;
}

.contenteditor__dropdown .contenteditor__control:last-child {
	border-radius: 0 0 4px 4px;
}

.contenteditor__dropdown .contenteditor__control svg {
	margin-right: 5px;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
}

.contenteditor__drag-indicator {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	margin-top: -0.2rem;
}

.contenteditor__drag-indicator::before {
	content: '';
	position: absolute;
	border-radius: 2px;
	top: -0.3rem;
	left: 0.5rem;
	right: 0.5rem;
	height: 0.2rem;
	background: rgb(65 124 246);
}
