.contenteditor__tooltip {
	position: absolute;
	z-index: 1;
	display: flex;
	margin-top: -10px;
	border-radius: 4px;
	height: 40px;
	opacity: 1;
	background: #fff;
	box-shadow: inset 0 0 0 1px #ececec;
	transform: translateY(0);
	transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.contenteditor__tooltip--mobile {
	position: fixed;
	left: 0;
	width: 100%;
	justify-content: center;
}

.contenteditor__tooltip.hidden {
	transform: translateY(-10px);
	opacity: 0;
	pointer-events: none;
}

.contenteditor__toggle-button-holder {
	position: absolute;
	z-index: 1;
	margin: -10px 0 0 -45px;
	opacity: 1;
	transform: translateX(0);
	transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.contenteditor__toggle-button-holder.hidden {
	transform: translateX(-10px);
	opacity: 0;
	pointer-events: none;
}

.contenteditor__toggle-button {
	display: block;
	border: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	outline: none;
}

.contenteditor__toggle-button--insert {
	background: url('./icons/plus.svg') center no-repeat;
}

.contenteditor__toggle-button--replace {
	background: url('./icons/dots.svg') center no-repeat;
}

.contenteditor__toggle-button--move {
	cursor: grab;
}

.contenteditor__tooltip-group {
	display: flex;
}

.contenteditor__control {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 0;
	padding: 8px;
	min-width: 40px;
	max-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 40px;
	cursor: pointer;
	outline: none;
	color: #000;
	background: none;
	font: 14px/26px 'PT Sans', sans-serif;
}

.contenteditor__tooltip-group:first-child > .contenteditor__control:first-child {
	border-radius: 4px 0 0 4px;
}

.contenteditor__tooltip-group:last-child > .contenteditor__control:last-child {
	border-radius: 0 4px 4px 0;
}

.contenteditor__control:hover,
.contenteditor__control--selected {
	background: #662fcc;
	color: #fff;
}

.contenteditor__control-input {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border: 0;
	padding: 8px;
	min-width: 40px;
	height: 40px;
	outline: none;
	font: 16px/26px 'PT Sans', sans-serif;
	background: none;
}

.contenteditor__control-input-file {
	position: absolute;
	opacity: 0;
	left: -999%;
}

.contenteditor__image-placeholder {
	text-align: center;
	font-style: italic;
	color: #ddd;
}

.contenteditor__container-placeholder {
	font-style: italic;
	color: #ddd;
}

.contenteditor__control--dropdown {
	position: relative;
	padding-right: 32px;
	overflow: visible;
}

.contenteditor__control--dropdown::before {
	content: '';
	position: absolute;
	top: 14px;
	right: 6px;
	width: 20px;
	height: 14px;
	background: red;
}

.contenteditor__dropdown {
	position: absolute;
	margin-top: 5px;
	top: 100%;
	left: 0;
	display: none;
	flex-direction: column;
	background: #fff;
	box-shadow: inset 0 0 0 1px #ececec;
}

.contenteditor__dropdown--active {
	display: flex;
}

.contenteditor__dropdown .contenteditor__control {
	text-align: left;
	display: flex;
	align-items: center;
}

.contenteditor__dropdown .contenteditor__control:first-child {
	border-radius: 4px 4px 0 0;
}

.contenteditor__dropdown .contenteditor__control:last-child {
	border-radius: 0 0 4px 4px;
}

.contenteditor__dropdown .contenteditor__control svg {
	margin-right: 5px;
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
